/* global style*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background-color: #ccc;
}
.no-border{
	border:none;
}
/* main style*/
.wrapper{
	width: 901px;
	min-height: 650px;
	margin: auto;
	padding: 0 50px;
	border:1px solid #ccc;
	background-color: #fff;
}

/* start header */
header{
	height: 60px;
	background-color: #fff;
}
header .logo{
	float: left;
	width: 30%;
	line-height: 90px;
}

header nav{
	width: 65%;
	float: right;
	height: 60px;
	text-transform: capitalize;
}
header nav ul{
	overflow: hidden;
	margin-left: 10px;
}
header nav ul li{
	float: left;
	padding-right: 7px;
	width: 20%;
	text-align: center;
	line-height: 60px;
}
header nav ul li a{
	border-right: 1px solid #F36903;
	padding-right: 24px;
	color: #272727;
}
/* end header */
/*start banner */
.banner{
	background-image: url(../images/banner.png);
	height: 202px;
	width: 100%;
}
.banner p{
	width: 55%;
	float: right;
	margin: 100px 10px 0 0;
	font-size: 25px;
}
.banner p span{
	font-size: 38px;
	color: #004802;
}

/* end banner */
/* start content */
main{
	overflow: hidden;
	margin-left: 5px;
}
article{
	overflow: hidden;
}
.content{
	width: 55%;
	float: left;
}

.content article h1{
	padding: 30px 0;
	color: #004802;
	font-size: 25px
}
.content article h6{
	padding-bottom: 10px;
	color: #0a356d;
}
.content article p{
	color: #999;
}
.content article a{
	width: 100px;
	background: #942215;
	color: #fff;
	padding: 10px 0;
	margin: 15px 0;
	display: block;
	text-align: center;
	float: left;
	border-radius: 5px;

}
.content .gallery{
	overflow: hidden;
}
.content .gallery .art{
	float: left;
	width: 45%;
	border-right: 1px dashed #999;
	padding-right: 30px; 
}
.content .gallery .art h2{
	color: #004802;
	font-size: 20px;
	padding-bottom: 10px;
}
.content .gallery .art p{
	color: #00f;
}
.content .gallery .art img{
	width: 80%;
	margin: 10px 0 0 10px;
}
.content .drawing{
	width: 45%;
	float: left;
	padding-left: 30px;
}
.content .drawing h2{
	color: #004802;
	font-size: 20px;
	padding-bottom: 10px;
}
.content .drawing .paragraph1{
	color: #00f;
	padding-bottom: 10px;
}
.content .drawing .paragraph2{
	color: #999;
}
/* end content */

/* start news */
.news{
	float: right;
	width: 40%;
	
}
.news .updates{
	border:5px solid #F96949;
	margin-top: 30px;
	padding: 10px;
}
.news .updates h2{
	color: #004802;
	font-size:20px;
	padding-bottom: 20px;
}
.news .updates h6{
	color: #00f;
	padding-bottom: 10px;
}
.news .updates p{
	color: #999;
	padding-bottom: 18px;
}

.news .best-image{
	margin-top: 30px;
	width: 358.93px;
	height: 170px;
	background-color:#F1F3F4;
	margin-bottom: 30px;
}
.news .best-image img{
	width: 80%;
	height: 100px;
	margin: 20px 0 0 38px;
}
.news .best-image a{
	color: #0f0;
	display: block;
	text-align: center;
	padding-top: 8px;
	text-decoration: underline;
}
/* end news */
/* start footer */
footer{
	width: 901px;
	margin: 0 auto;
	height: 140px;
	background-color: #F36903;
	overflow: hidden;
}
footer nav{
	width: 60%;
	overflow: hidden;
	margin: 30px 0 30px 250px;
}
footer nav ul{
	margin: 0 auto;
}
footer nav ul li{
	float: left;
	padding-right: 15px;
}
footer nav ul li a{
	border-right:1px solid whitesmoke;
	color: whitesmoke;
	padding-right: 5px;
}
footer .copy-right{
	text-align: center;
	color: whitesmoke;
}
footer .copy-right span{
	color:#004802; 
}
/* end footer */ 